.videoconverter-default-btn{
}

.videoconverter-default-container{
    font-size: 12px;
    margin-top: -4%;
}

.videoconverter-default-container-position-right{
    float: right;
}

.videoconverter-default-container-position-left{
    float: left;
}